@use "../abstracts" as *;

%width-column {
  width: 55px;
}

.forecast {
  &__list-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border: 1px solid $color-accent-light;

    &--home {
      background-color: inherit;
    }
    &--detail {
      background-color: $color-secondary;
      color: $color-text-2;
    }
  }
  &__day {
    @extend %width-column;
  }
  &__climates {
    @extend %width-column;
  }
  &__temperatures {
    @extend %width-column;
    text-align: end;
  }
}
